@import '../../styles/variables';

.menuButton {
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  background-color: inherit;
  height: 70px;

  &:hover {
    cursor: pointer;
  }
}

.header {
  height: 80px;
  background-color: $second-main-color;
  padding: 0 8px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  display: block;
  vertical-align: center;
  text-decoration: none;
  color: $first-secondary-color;
}
