@import '../../styles/variables';

.header {
  height: 80px;
  background-color: $second-main-color;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: $first-secondary-color;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 80px;
}

.link {
  text-decoration: none;
}
.navLink {
  composes: logo;
  text-decoration: none;
  padding: 0 5px;
}

.activeNavLink {
  color: $first-main-color;
}

.navLinkWithBorder {
  composes: navLink;
  border: 1px solid $first-secondary-color;
  border-radius: 3px;
}

.activeNavLinkWithBorder {
  composes: navLink;
  border: 1px solid $first-main-color;
  border-radius: 3px;
}
